@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@400;600;900&family=Poppins:wght@900&family=Raleway:wght@500;700&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    --color-green: rgba(94, 219, 140, 1);
    --color-purple: rgba(97, 94, 219, 1);
    --color-gray: rgba(246, 246, 246, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(38, 38, 38, 1);
    --transition-speed: 200ms;
}

body {
    background-color: var(--color-white);
    overflow-x: hidden;
}
::selection {
    background-color: rgba(94, 219, 140, .7);
    color: var(--color-white);
}
::placeholder {
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    height: 100vh;
}
.white {
    background-color: var(--color-white);
}
.gray {
    min-height: 90vh;
    background-color: var(--color-gray);
}
.black {
    background-color: var(--color-black);
}

.wip-alert {
    font-size: 4rem;
    text-align: center;
}
.swal2-toast {
    font-size: 1.5rem !important;
}
.swal2-actions > button {
    font-size: 1.3rem !important;
}

button {
    font-family: 'Montserrat', sans-serif;
}
img {
    user-select: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/*Navbar*/

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 8rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* overflow: hidden; */
    user-select: none;
    z-index: 1000;
}
.main-nav {
    display: flex;
    flex-direction: row;
}
.nav-link {
    margin-left: 3rem;
    padding: 3rem 0.5rem;
    color: var(--color-black);
    opacity: .25;
    transition: opacity var(--transition-speed);
}
.nav-link:not(.selected):hover {
    opacity: .75;
}
.selected {
    position: relative;
    opacity: 1;
}
/* .selected::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    width: 100%;
    height: 0.8rem;
    border-radius: 2rem 2rem 0 0;
    transform-origin: bottom;
    transform: scaleY(0);
    background-color: var(--color-green);
    opacity: 0;
    animation: currentShow calc(var(--transition-speed) * 2) ease-in-out forwards;
}
@keyframes currentShow {
    100% {transform: scaleY(1) ;opacity: 1;}
} */

.nav-link, .btn-signIn {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.logo {
    margin: 0 6rem 0 10rem;
    width: 4rem;
}
.logo img {
    max-width: 100%;
}


.main-nav li:last-of-type {
    position: absolute;
    right: 0;
}
.btn-signIn, .ftr-btn-signIn {
    margin-right: 10rem;
    padding: 1rem 2rem;
    border-radius: 4rem;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: background-color calc(var(--transition-speed) * 1.2) ease-in-out;
}
.btn-signIn:hover, .ftr-btn-signIn:hover {
    background-color: var(--color-green);
}

/*Hamburger Menu*/

.navbar-toggle {
    display: none;
}

.hamburger {
    user-select: none;
    cursor: pointer;
    transition: transform calc(var(--transition-speed) * 2.25);
}
.hamRotate.opened {
    transform: rotate(45deg);
}

.line {
    fill: none;
    stroke: var(--color-black);
    stroke-width: 5.5;
    stroke-linecap: round;
    transition: stroke-dasharray 450ms, stroke-dashoffset 450ms;
}

.line.top {
    stroke-dasharray: 40 121;
}
.line.bottom {
    stroke-dasharray: 40 121;
}

.hamburger.opened .top {
    stroke-dashoffset: -68px;
}
.hamburger.opened .bottom {
    stroke-dashoffset: -68px;
}




/*Home*/

header#home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 8rem);
}

.home-desc {
    margin-left: 10rem;
    z-index: 1;
}
#home h1 {
    position: relative;
    font-family: 'Megrim', cursive;
    font-size: 20rem;
    z-index: 1;
}
#home h1::before {
    content: 'Exposição da Semana de Arte.';
    position: absolute;
    top: 50%;
    left: -1rem;
    width: 89rem;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14rem;
    font-weight: 900;
    color: rgba(107, 146, 192, .2);
    z-index: -1;
}

#home p {
    margin: -2rem 0 0 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}
span.initial {
    color: rgba(115, 0, 206, 1);
    font-weight: 700;
}

.home-img {
    position: relative;
    width: 95rem;
    height: auto;
    z-index: 1;
}
.blob1 {
    position: absolute;
    top: -8rem;
    right: -17rem;
    user-select: none;
    z-index: 0;
}


/*Home - Destaques*/

.container.gray {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home ~ .wave-container:first-of-type {
    margin-top: 10rem;
}
.wave-container {
    overflow: hidden;
}
.wave-container > svg {
    display: block;
    width: 100%;
    height: 100%;
}

.container.gray h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.fotorama {
    display: flex;
    justify-content: center;
    width: 100%;
}
.fotorama__stage {
    border-radius: 1rem;
}
#fotorama_helper {
    width: 1280px;
}


/*Home - Artigos*/

.container.white {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-container {
    position: relative;
    width: fit-content;
    height: 80vh;
    overflow: visible;
}
.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-container-vertical > .swiper-pagination-bullets {
    right: 8rem;
}
.swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(107, 147, 192, 1);
    border-radius: 1.5rem;
    transition: all calc(var(--transition-speed) * 2) ease-in-out;
}
.swiper-pagination-bullet-active {
    height: 6rem;
    background-color: var(--color-green);
}
.swiper-slide-active :is(.artc-img img, .artc-content > *) {
    opacity: 1;
    transform: none;
}


.artc-content > * {
    transform: translateY(8rem);
}
.artc-img img,
.artc-content > * {
    opacity: 0;
    transition: all calc(var(--transition-speed) * 2) ease-in-out;
    transition-delay: calc(var(--transition-speed) * var(--order));
}

.article-card {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 60%;
    background-color: var(--color-gray);
    border-radius: 2rem;
    box-shadow: 0 40px 80px -40px rgb(0, 0, 0, .1);
    z-index: 10;
}

.artc-img {
    width: 30rem;
    height: 30rem;
    background-image: linear-gradient(342deg, rgb(175, 142, 245) 0%, var(--color-green) 100%);
    border-radius: 1.4rem;
    transform: translateX(-10rem);
    box-shadow: 20px 20px 40px -20px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.artc-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.4rem;
    background-image: linear-gradient(342deg, rgb(175, 142, 245) 0%, var(--color-green) 100%);
    opacity: 0.6;
}
.artc-img img {
    position: relative;
    display: block;
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 1.4rem;
    --order: 1;
}

.artc-content {
    padding: 8rem;
    padding-left: 0;
}
.artc-content span {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(134, 152, 173, 1);
    --order: 1;
}
.artc-content h2 {
    margin: 2rem 0 2.5rem 0;
    width: 80rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-black);
    --order: 1.6;
}
.artc-content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 4rem;
    width: 80rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 2.6rem;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    --order: 2;
}

.card-btn-readMore {
    display: block;
    padding: 1.6rem 2rem;
    width: fit-content;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4rem;
    background-color: var(--color-green);
    color: var(--color-white);
    user-select: none;
    --order: 2.2;
}




/*Footer*/

footer {
    padding: 5rem 9rem;
    min-height: 50vh;
    background-color: var(--color-black);
    color: var(--color-white);
}
.footer_top,
.footer_bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_top {
    align-items: flex-start;
}
.footer_bottom {
    align-items: center;
}

/* .ftr-contact {

} */
.ftr-contact h3 {
    width: 50%;
    font-size: 3.5rem;
}

.ftr-list {
    display: flex;
    align-items: flex-start;
}
.ftr-item {
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
}
.ftr-link {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-purple);
}
.ftr-sublink {
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-white);
}

footer hr {
    margin: 3rem 0;
    width: 100%;
    border: none;
    border-top: 2px solid var(--color-white);
}
footer h4 {
    font-family: 'Megrim', cursive;
    font-size: 8rem;
    user-select: none;
}
.ftr-btn-signIn {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--color-white);
    color: var(--color-black);
    user-select: none;
    transition: background-color calc(var(--transition-speed) * 1.2) ease-in-out, color calc(var(--transition-speed) * 1.2) ease-in-out;
}
.ftr-btn-signIn:hover {
    color: var(--color-white);
}




/*About*/

header#about {
    margin-top: -8rem;
    display: flex;
    align-items: center;
    height: calc(80vh - 8rem);
    background: linear-gradient(180deg, rgba(135, 255, 154, 1) 0%, transparent 100%);
    background-color: var(--color-green);
}

.about-desc {
    margin: 20rem 10rem 0 10rem;
}
#about h1 {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;
}
#about p {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}


/*About - Movimentos*/

.container.white:is(#arte_urbana, #pop_art) {
    padding: 16rem;
    flex-direction: row;
    min-height: 80vh;
    height: auto;
}

.movement-desc h2 {
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
}
.movement-desc p {
    font-size: 3.2rem;
    font-weight: 400;
}

#arte_urbana .movement-desc {
    margin-left: 10rem;
}
#pop_art .movement-desc {
    margin-right: 10rem;
}

#arte_urbana :is(h2, p) {
    text-align: right;
}
#pop_art :is(h2, p) {
    text-align: left;
}


/*About - Equipe*/

.container.black {
    padding: 4rem 0;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.members-cards {
    padding: 0 4rem;
    width: 100%;
    z-index: 0;
}
.members-cards::after {
    content: 'Equipe.';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30rem;
    font-weight: 900;
    color: rgb(255, 255, 255, 0.2);
    z-index: -1;
}

.members-cards:hover .card > .card-image img {
    filter: grayscale(100%) brightness(70%);
}
.members-cards:hover .card:hover > .card-image img {
    filter: none;
}


.card {
    position: relative;
    margin: 8rem auto 0 auto;
    padding: 6rem;
    padding-left: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63rem;
    height: 30rem;
    background-color: rgba(241, 241, 250, 0.123);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.card-image img {
    position: relative;
    width: 25rem;
    border-radius: 50%;
    transition: filter var(--transition-speed) ease-in-out;
}
.img-gradient {
    position: absolute;
    margin: auto;
    width: 26.5rem;
    height: 26.5rem;
    border-radius: 50%;
    background: linear-gradient(342deg, rgb(175, 142, 245) 0%, var(--color-green) 100%);;
    box-shadow: 0px 0px 0px 6px rgb(72, 72, 82)
}
.card-image {
    position: absolute;
    left: -12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-content {
    text-align: center;
    overflow: hidden;
}

.member-name {
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--color-white);
}
.desc {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-green);
}

.social-icons {
    margin: 4rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.fa-envelope,
.fa-linkedin {
    margin-left: 3rem;
}
.fa-github,
.fa-envelope,
.fa-linkedin {
    font-size: 3.5rem;
    color: var(--color-white);
    cursor: pointer;
    transition: color var(--transition-speed) ease-in-out;
}
:is(.fa-github, .fa-envelope, .fa-linkedin):hover {
    color: var(--color-green);
}




/*Login/Register*/

.container.white#account_form {
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.btn-backTo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-black);
    z-index: 10;
}
.btn-backTo img {
    margin-right: 1rem;
}

.blob2 {
    position: absolute;
    top: 0;
    right: -10rem;
    z-index: 0;
}

.form-img {
    z-index: 1;
}
#account_form form {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: 92rem;
    transform: translateY(10rem);
    background: linear-gradient(96deg, rgba(107, 146, 192, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 4rem;
    z-index: 1;
}
#account_form form h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 600;
}

.form-group {
    position: relative;
    margin: 2rem 0;
    width: 100%;
}
.form-group:last-of-type {
    margin-top: 8rem;
}
.form-group input {
    padding: 1.6rem 2rem;
    padding-top: 2rem;
    width: inherit;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: var(--color-gray);
}
.form-group input:not([type="submit"]) {
    box-shadow: 0 0 0 2px rgba(97, 94, 219, 0.7);
    transition: box-shadow var(--transition-speed) ease-in-out;
}
.form-group :is(input:not([type="submit"]):focus, input:not([type="submit"]):not(:placeholder-shown)) {
    box-shadow: 0 0 0 4px var(--color-purple);
}

.form-group input[type="submit"],
.form-group :is(button, button ~ a) {
    padding: 1.6rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    background-color: var(--color-purple);
    cursor: pointer;
    transition: background-color var(--transition-speed) ease-in-out;
}
.form-group input[type="submit"]:hover {
    background-color: rgb(116, 115, 221);
}

.form-group .bubble {
    position: absolute;
    top: -2rem;
    left: 2.5rem;
    width: 7rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: var(--color-purple);
    transform: scaleY(0);
    opacity: 0;
    transition: all var(--transition-speed) ease-in-out;
}
.form-group:nth-of-type(2) .bubble {
    width: 7.5rem;
}

.form-group :is(input:focus, textarea:focus, input:not(:placeholder-shown), textarea:not(:placeholder-shown)) ~ .bubble {
    transform: scaleY(1);
    opacity: 1;
}

.form-group label {
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    font-size: 2rem;
    color: rgb(48, 48, 48);
    cursor: text;
    user-select: none;
    transition: all var(--transition-speed) ease-in-out;
}
.form-group :is(input:focus, textarea:focus, input:not(:placeholder-shown), textarea:not(:placeholder-shown)) ~ label {
    font-size: 1.7rem;
    color: var(--color-white);
    transform: translate(1.5rem, -3rem);
}

#account_form form span {
    margin-top: 2rem;
    font-size: 1.6rem;
}
#account_form form span a {
    text-decoration: none;
    color: var(--color-purple);
    background-image: linear-gradient(0deg, var(--color-purple) 0%, var(--color-purple) 100%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size var(--transition-speed) ease-in-out;
}
#account_form form span a:is(:hover, :focus) {
    background-size: 100% 2px;
}




/*Projects*/

header#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-green);
}
/* .projects-desc {

} */

#projects :is(h1, p) {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}
#projects h1 {
    margin-bottom: 2rem;
    font-size: 8rem;
    font-weight: 900;
    text-shadow: 0 2px 16px rgba(0, 0, 0, 0.411);
}
#projects p {
    position: relative;
    margin: auto;
    font-size: 3rem;
    font-weight: 400;
}

#projects p::before, 
#projects p::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 0.2rem;
    transform: translateY(-50%);
    background-color: var(--color-white);
}
#projects p::before {
    left: -1rem;
}
#projects p::after {
    right: -1rem;
}


/*Projects - List*/

.container.white#projects_list {
    padding: 10rem 0;
    min-height: 100vh;
    height: auto;
}
.projects-cards {
    margin: 0 auto;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem 25rem;
}

.btn-newprjt {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    width: 6.4rem;
    border-radius: 2rem;
    border: 2px solid var(--color-green);
    background-color: transparent;
    font-size: 2rem;
    color: var(--color-green);
    user-select: none;
    overflow: hidden;
    transition: width calc(var(--transition-speed) * 2) ease-in-out;
}
.btn-newprjt:hover {
    width: 25rem;
}

.btn-newprjt span {
    position: absolute;
    left: 5rem;
    display: inline-block;
    margin-left: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translateX(50%);
    opacity: 0;
    transition: transform calc(var(--transition-speed) * 2) ease-in-out, opacity calc(var(--transition-speed) * 2) ease-in-out;
}
.btn-newprjt:hover span {
    transform: translateX(0);
    opacity: 1;
}

.prjt-card {
    position: relative;
    width: 50rem;
    height: 25rem;
    border-radius: 0.8rem;
    background-color: var(--color-gray);
    overflow: hidden;
}
.prjt-img {
    position: relative;
    width: 80%;
    height: 100%;
    background-color: rgba(134, 152, 173, 1);
}
.prjt-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter var(--transition-speed) ease-in-out;
}
.prjt-card:not(.no-action):hover .prjt-img img {
    filter: grayscale(100%);
}

.prjt-card h2 {
    position: absolute;
    bottom: 0;
    right: 13rem;
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    font-weight: 900;
    color: var(--color-white);
    z-index: 1;
}
.prjt-card p {
    position: absolute;
    top: 2rem;
    right: 6.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    writing-mode: vertical-lr;
    cursor: default;
    z-index: 1;
}

.btn-prjt {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(94, 219, 140, 0.6);
    /* transform: scale(1); */
    /* mix-blend-mode: hard-light; */
    cursor: pointer;
    transition: transform calc(var(--transition-speed) * 1.5) ease-in-out;
}
.fa-arrow-right {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    font-size: 6rem;
    color: var(--color-white);
    transform: scale(0.2);
    opacity: 0;
    z-index: 10;
    transition: transform var(--transition-speed) ease-in-out, opacity var(--transition-speed) ease-in-out;
}

.prjt-card:not(.no-action):hover .btn-prjt {
    transform: scale(10);
}
.prjt-card:not(.no-action):hover .fa-arrow-right {
    transform: scale(1);
    opacity: 1;
}


/*Projects - Form*/

.container.white#project_form {
    padding: 10rem 0;
    min-height: 100vh;
    height: auto;
}
#project_form form {
    padding: 4rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 65rem;
    height: 72rem;
    transform: translateY(-8rem);
    background-color: var(--color-black);
    background-image: linear-gradient(180deg, rgba(2, 0, 97, 0.7) -44.52%, var(--color-black) 76.47%);
    border-radius: 4rem;
    box-shadow: 0 12px 56px -8px rgba(0, 0, 0, 0.7);
    z-index: 1;
}
#form-project .form-group:nth-child(5) {
    margin-top: 8rem;
}

#project_form :is(input, textarea) {
    font-family: Arial, sans-serif;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 2rem;
    box-shadow: none;
}
#project_form textarea {
    padding: 1.6rem 2rem;
    padding-top: 2rem;
    width: inherit;
    border: none;
    font-size: 2rem;
    word-break: break-word;
    resize: none;
}
#project_form textarea::-webkit-scrollbar{
    width: 0.8rem;
    height: 0.8rem;
}
#project_form textarea::-webkit-scrollbar-thumb{
    background: rgba(134, 152, 173, 0.678);
    border-radius: 1rem;
}
#project_form textarea::-webkit-scrollbar-thumb:hover{
    background: rgb(134, 152, 173);
}
#project_form textarea::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 1rem;
}

#project_form label {
    color: rgb(162, 159, 167);
}
#project_form .bubble {
    width: 6.8rem;
    background-color: rgb(26, 25, 59);
}

#project_form .form-group:nth-of-type(2) .bubble {
    width: 10.2rem;
    background-color: rgb(28, 28, 54);
}
#project_form :is(input:focus, textarea:focus, input:not(:placeholder-shown), textarea:not(:placeholder-shown)) ~ label {
    color: var(--color-purple);
}

#project_form input[type="file"] {
    display: none;
}
#project_form input[type="file"] ~ label {
    position: absolute;
    display: flex;
    top: -1rem;
    left: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transform: none;
    background-color: var(--color-green);
    cursor: pointer;
    transition: background-color var(--transition-speed) ease-in-out;
}
#project_form input[type="file"] ~ label:hover {
    background-color: rgba(83, 183, 120, 1);
}
.fa-upload {
    margin: auto;
    font-size: 2rem;
    color: var(--color-white);
}

#project_form input[type="file"] ~ label ~ span {
    position: absolute;
    top: 0.8rem;
    left: 9rem;
    width: 80%;
    font-size: 2rem;
    color: var(--color-green);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-group :is(button, button ~ a) {
    display: inline-block;
    width: 48%;
    border: none;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 2rem;
    user-select: none;
    transition: background-color var(--transition-speed) ease-in-out;
}
.form-group button:hover {
    background-color: rgb(116, 115, 221);
}
.form-group button ~ a:hover {
    background-color: rgb(255, 122, 110);
}

.form-group button {
    float: left;
}
.form-group button ~ a {
    float: right;
    background-color: rgba(255, 86, 69, 1);
}
.form-group button:disabled {
    background-color: rgba(132, 131, 197, 1);
}
.form-group button ~ a.disabled {
    pointer-events: none;
    background-color: rgba(255, 143, 133, 1);
}

.prjt-card.no-action {
    transform: translateY(-2rem);
    box-shadow: 0 10px 44px -16px rgb(0, 0, 0, 0.7);
    z-index: 10;
}
.prjt-card h2 {
    width: 33rem;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.prjt-card p {
    height: 15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*Loading Icon*/
.loading-icon {
    opacity: 0;
    transition: opacity var(--transition-speed) ease-in-out;
}
.lds-default {
    margin: 0 auto;
    position: relative;
    width: 8rem;
    height: 8rem;
}
.lds-default div {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    background: #fff;
    border-radius: 50%;
    animation: lds-default calc(var(--transition-speed) * 6) linear infinite;
    animation-delay: calc(-0.1s * var(--i));
}

.lds-default div:nth-child(1) {
    top: 3.7rem;
    left: 6.6rem;
}
.lds-default div:nth-child(2) {
    top: 2.2rem;
    left: 6.2rem;
}
.lds-default div:nth-child(3) {
    top: 1.1rem;
    left: 5.2rem;
}
.lds-default div:nth-child(4) {
    top: 0.7rem;
    left: 3.7rem;
}
.lds-default div:nth-child(5) {
    top: 1.1rem;
    left: 2.2rem;
}
.lds-default div:nth-child(6) {
    top: 2.2rem;
    left: 1.1rem;
}
.lds-default div:nth-child(7) {
    top: 3.7rem;
    left: 0.7rem;
}
.lds-default div:nth-child(8) {
    top: 5.2rem;
    left: 1.1rem;
}
.lds-default div:nth-child(9) {
    top: 6.2rem;
    left: 2.2rem;
}
.lds-default div:nth-child(10) {
    top: 6.6rem;
    left: 3.7rem;
}
.lds-default div:nth-child(11) {
    top: 6.2rem;
    left: 5.2rem;
}
.lds-default div:nth-child(12) {
    top: 5.2rem;
    left: 6.2rem;
}
@keyframes lds-default {
    0%, 20%, 80%, 100% {transform: scale(1);}
    50% {transform: scale(1.5);}
}


/*Projects - Details*/

.container.white#project_details {
    padding: 10rem;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    height: auto;
}
.prjt-info,
.prjt-content {
    width: 100%;
}
.prjt-info :is(h1, p),
.prjt-content p {
    word-break: break-word;
}

.prjt-info h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 900;
}
.prjt-info p {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    color: var(--color-green);
}
.prjt-info span {
    font-size: 1.5rem;
}

.prjt-content {
    margin-top: 5rem;
}
.prjt-content p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    font-weight: 300;
}
.prjt-content p a {
    text-decoration: none;
    color: var(--color-green);
    background-image: linear-gradient(0deg, var(--color-green) 0%, var(--color-green) 100%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size var(--transition-speed) ease-in-out;
}
.prjt-content p a:is(:hover, :focus) {
    background-size: 100% 2px;
}

.img-grid {
    margin-top: 4rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fit, 260px);
    grid-auto-flow: dense;
    grid-gap: 1rem; */
}
.img-grid img {
    width: 100%;
    height: 100%;
}
.img-grid .grid-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.grid-row > div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(50% - 20rem);
    border-radius: 2rem;
    background-color: rgba(134, 152, 173, 1);
    box-shadow: 0 8px 24px -10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.prjt-config {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}
.prjt-config > div {
    position: relative;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 0 0 2px var(--color-green);
    border-radius: 50%;
    background-color: var(--color-white);
    overflow: hidden;
    transition: all var(--transition-speed) ease-in-out;
}
.prjt-config > div:hover {
    background-color: var(--color-green);
    box-shadow: 0 0 0 6px rgba(94, 219, 140, 0.4);
}
.prjt-config > div:not(:last-of-type) {
    margin-right: 2rem;
}

.prjt-config :is(button, a) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-green);
    background: none;
    cursor: pointer;
    transition: color var(--transition-speed) ease-in-out;
}
.prjt-config > div:hover :is(button, a) {
    color: var(--color-white);
    animation: wheel calc(var(--transition-speed) * 1.5) forwards;
}

@keyframes wheel {
    49% {transform: translateY(-100%);}
    50% {transform: translateY(100%); opacity: 0;}
    51% {opacity: 1;}
}




/*Error Page*/

.container.white#error_page {
    padding: 2rem;
    text-align: center;
}

.error-img {
    width: 50rem;
}
.container.white#error_page h1 {
    margin-bottom: 1rem;
    font-size: 6rem;
}
.container.white#error_page p {
    font-size: 1.6rem;
}








/*Media Queries*/

@media screen and (max-width: 853px){

    .main-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        margin-right: 0;
        width: 30rem;
        height: 100vh;
        transform: translateX(100%);
        background: var(--color-white);
        /* box-shadow: 0 0 40px -20px 0 0 40px -20px rgba(0, 0, 0, .7); */
        z-index: 99;
        transition: all calc(var(--transition-speed) * 3) cubic-bezier(.77,.01,.21,1);
    }

    .main-nav.active {
        transform: translateX(0);
    }

    .main-nav > li {
        margin: 1rem 0;
    }

    .nav-link {
        position: relative;
        margin-left: 0;
        padding: 0.5rem 0.5rem;
        z-index: 100;
    }
    .main-nav li:last-of-type {
        right: auto;
        bottom: 6rem;
    }
    .btn-signIn {
        margin: 0;
    }

    .navbar-toggle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 3rem;
        z-index: 101;
        transition: all 300ms ease-in-out;
    }
}
@media screen and (max-width: 502px){

    .main-nav {
        width: 100%;
        transform: translateX(100%);
    }

    .logo {
        z-index: 100;
    }
}

@media screen and (max-width: 1716px){

    .home-img {
        width: 80rem;
    }
    .blob1 {
        right: -29rem;
    }

    @media screen and (max-height: 888px){

        .blob1 {
            right: -27rem;
        }
        
        #home ~ .wave-container:first-of-type {
            margin-top: 20rem;
        }
    }
    @media screen and (max-height: 768px){
    
        header#home {
            padding-top: 8rem;
        }

        #home ~ .wave-container:first-of-type {
            margin-top: 30rem;
        }
    }
    @media screen and (max-height: 614px){
    
        header#home {
            padding-top: 14rem;
        }

        #home ~ .wave-container:first-of-type {
            margin-top: 46rem;
        }
    }
    @media screen and (max-height: 550px){
    
        header#home {
            padding-top: 25rem;
        }

        #home ~ .wave-container:first-of-type {
            margin-top: 56rem;
        }
    }
    @media screen and (max-height: 426px){
    
        header#home {
            padding-top: 34rem;
        }

        #home ~ .wave-container:first-of-type {
            margin-top: 66rem;
        }
    }
}

@media screen and (max-width: 1696px){

    .blob2 {
        right: -30rem;
    }
}

@media screen and (max-width: 1600px){

    #home h1::before {
        width: 71rem;
        font-size: 12rem;
    }

    .movement-desc h2 {
        font-size: 3.6rem;
    }
    .movement-desc p {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1516px){

    .article-card {
        width: 1100px;
    }

    .artc-content p {
        width: 62rem;
    }


    @media screen and (max-height: 916px){
        
        .article-card {
            height: 70%;
        }
    }
    @media screen and (max-height: 780px){
        
        .article-card {
            height: 50rem;
        }
    }
}

@media screen and (max-width: 1504px){

    .movement-img {
        width: 38rem;
    }
}

@media screen and (max-width: 1473px){

    .home-img {
        width: 67rem;
    }
    .blob1 {
        right: -40rem;
    }

    .movement-desc h2 {
        font-size: 3.2rem;
    }
    .movement-desc p {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 1386px){

    #about ~ .wave-container:first-of-type {
        margin-bottom: 16rem;
    }

    .movement-desc {
        margin: 0 !important;
    }
    .movement-desc :is(h2, p) {
        text-align: center !important;
    }
    .movement-desc p {
        margin-bottom: 6rem !important;
    }

    .container.white:is(#arte_urbana, #pop_art) {
        padding: 0 16rem;
    }
    .container.white#arte_urbana {
        margin-bottom: 10rem;
        flex-wrap: wrap-reverse;
    }
    .container.white#pop_art {
        padding-top: 10rem;
        margin-bottom: 20rem;
        flex-wrap: wrap;
    }

    .movement-img {
        width: 28rem;
    }
}

@media screen and (max-width: 1374px){

    @media screen and (max-height: 860px){

        .form-img {
            width: 50rem;
        }
    
        #account_form form {
            height: 88rem;
            transform: translateY(16rem);
        }
    }
    @media screen and (max-height: 704px){

        .form-img {
            width: 40rem;
        }
    
        #account_form form {
            height: 80rem;
        }
    }
}

@media screen and (max-width: 1338px){

    #home h1::before {
        width: 60rem;
        font-size: 10rem;
    }
    #home h1 {
        font-size: 15rem;
    }
    #home p {
        margin: -2rem 0 0 1.1rem;
        font-size: 2.5rem;
    }

    #about h1 {
        font-size: 4.3rem;
    }
    #about p {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 1328px){

    .form-img {
        width: 50rem;
    }
}

@media screen and (max-width: 1324px){

    .projects-cards {
        grid-gap: 10rem 12rem;
    }
}

@media screen and (max-width: 1320px){

    #fotorama_helper {
        width: 100%;
    }


    .article-card {
        flex-direction: column;
        height: 73%;
    }

    .artc-content {
        margin-top: -2rem;
        padding: 0;
    }
    .artc-content > * {
        text-align: center;
    }
    .artc-content p {
        width: 80rem;
    }
    .card-btn-readMore {
        margin: auto;
    }

    .artc-img {
        transform: none;
        transform: translateY(-10rem);
    }


    @media screen and (max-height: 1128px){

        .article-card {
            height: 67rem;
        }
    }
    @media screen and (max-height: 815px){

        .article-card {
            height: 67rem;
        }

        .artc-content h2 {
            font-size: 3.4rem;
        }
        .artc-content span {
            font-size: 2.4rem;
        }
        .artc-content p {
            font-size: 2.2rem;
        }
    }
    @media screen and (max-height: 738px){

        .swiper-container {
            height: 100%;
        }
        .article-card {
            height: 52rem;
        }

        .artc-img {
            width: 18rem;
            height: 18rem;
            transform: translateY(-7rem);
        }
        .artc-img img {
            width: 18rem;
            height: 18rem;
        }
    }
    @media screen and (max-height: 630px){

        .article-card {
            height: 48rem;
        }
        .artc-content {
            margin-top: -4rem;
        }

        .artc-content span {
            display: none;
        }
    }
}

@media screen and (max-width: 1220px){

    .home-img {
        width: 56rem;
    }
    .blob1 {
        right: -46rem;
    }

    #home h1::before {
        width: 60rem;
        font-size: 10rem;
    }
    #home h1 {
        font-size: 12rem;
    }
    #home p {
        margin: -2rem 0 0 0.9rem;
        font-size: 2rem;
    }

    @media screen and (max-height: 1076px){

        .gray {
            min-height: 120vh;
        }
    }
}

@media screen and (max-width: 1180px){

    .members-cards::after {
        font-size: 26rem;
    }
}

@media screen and (max-width: 1176px){

    #projects h1 {
        font-size: 6rem;
    }
    #projects p {
        font-size: 2rem;
    }

    .projects-cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1152px){

    .blob2 {
        right: -40rem;
    }
    .form-img {
        width: 40rem;
    }

    #account_form form {
        height: 88rem;
        transform: translateY(16rem);
    }
}

@media screen and (max-width: 1140px){

    #home h1::before {
        width: 45rem;
        font-size: 7.5rem;
    }

    @media screen and (max-height: 768px){
        
        header#home {
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 1142px){

    .movement-desc p {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1116px){

    .grid-row > div {
        flex: 0 0 calc(70% - 20rem);
    }
}

@media screen and (max-width: 1052px){

    #account_form form {
        width: 50rem;
    }

    @media screen and (min-height: 1081px){

        .blob2 {
            top: -10rem;
            transform: rotate(350deg);
        }
    }
}

@media screen and (max-width: 1038px){

    .home-img {
        width: 48rem;
    }
    .blob1 {
        right: -52rem;
    }

    #home h1::before {
        width: 36rem;
        font-size: 6rem;
    }
    #home h1 {
        font-size: 8rem;
    }
    #home p {
        margin: -1rem 0 0 0.6rem;
        font-size: 2rem;
    }

    .container.gray h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1031px){

    .ftr-item:first-of-type {
        margin-left: 0;
    }
}

@media screen and (max-width: 1104px){

    .swiper-container {
        width: 100%;
    }

    .artc-content h2 {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 1018px){

    .members-cards::after {
        font-size: 22rem;
    }
}

@media screen and (max-width: 996px){

    @media screen and (max-height: 1036px){

        .swiper-container {
            height: 100%;
        }
    }


    .blob2 {
        right: -50rem;
    }
    .form-img {
        margin: 2rem;
    }
}

@media screen and (max-height: 834px){

    .article-card {
        height: 52rem;
    }

    .artc-img {
        width: 20rem;
        height: 20rem;
    }
    .artc-img img {
        width: 20rem;
        height: 20rem;
    }

    .artc-content h2 {
        font-size: 3.4rem;
    }
    .artc-content span {
        font-size: 2.2rem;
    }
    .artc-content p {
        font-size: 2rem;
    }
}
@media screen and (max-height: 677px){

    .article-card {
        height: 46rem;
    }
    .artc-content {
        margin-top: -5rem;
    }

    .artc-content span {
        display: none;
    }
}

@media screen and (max-width: 951px){

    .ftr-contact {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 926px) {
    .member-name {
        font-size: 3.5rem;
    }
    .desc {
        font-size: 1.8rem;
    }

    .fa-envelope,
    .fa-linkedin {
        margin-left: 2rem;
    }

    .card {
        width: 54rem;
    }
}

@media screen and (max-width: 902px){

    #about h1 {
        font-size: 3.6rem;
    }
    #about p {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 876px){

    .members-cards::after {
        font-size: 18rem;
    }
}

@media screen and (max-width: 855px){

    .grid-row > div {
        flex: 0 0 calc(80% - 20rem);
    }
}

@media screen and (max-width: 853px){

    .home-img {
        width: 42rem;
    }
    .blob1 {
        right: -56.5rem;
    }

    #home h1::before {
        width: 36rem;
        font-size: 6rem;
    }
    #home h1 {
        font-size: 8rem;
    }
    #home p {
        font-size: 1.6rem;
    }

    .container.gray h2 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 848px){

    .artc-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .artc-content h2 {
        font-size: 3.6rem;
    }
    .artc-content span {
        font-size: 2.6rem;
    }
    .artc-content p {
        font-size: 2.3rem;
        width: 60rem;
    }


    .blob2 {
        right: -36rem;
    }
    .form-img {
        display: none;
    }

    #account_form form {
        margin: 2rem;
    }

    @media screen and (max-height: 716px){

        .btn-backTo {
            top: auto;
            bottom: 4rem;
        }
        .btn-backTo span {
            display: none;
        }
    }
}

@media screen and (max-width: 838px){
    
    .member-name {
        font-size: 3rem;
    }
    .desc {
        font-size: 1.5rem;
    }

    .fa-github,
    .fa-envelope,
    .fa-linkedin {
        font-size: 2.6rem;
    }

    .card {
        padding-left: 12rem;
        width: 50rem;
        height: 26rem;
    }

    .card-image {
        left: -10rem;
    }
    .card-image img {
        width: 20rem;
    }
    .img-gradient {
        width: 21.5rem;
        height: 21.5rem;
    }
}

@media screen and (max-width: 824px){

    #projects h1 {
        font-size: 5rem;
    }
    #projects p {
        font-size: 1.8rem;
    }
    #projects p::before, #projects p::after {
        width: 6rem;
    }
}

@media screen and (max-width: 794px){

    header#home {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .home-desc {
        margin-left: 0;
        text-align: center;
    }
    .blob1 {
        right: -42rem;
    }
    
    #home h1::before {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #home p {
        margin: -1rem 0 0 0;
    }

    .container.gray h2 {
        font-size: 1.6rem;
    }


    @media screen and (max-height: 768px){
    
        header#home {
            padding-top: 8rem;
        }
    }
    @media screen and (max-height: 614px){
    
        header#home {
            padding-top: 14rem;
        }
    }
    @media screen and (max-height: 524px){
    
        header#home {
            padding-top: 25rem;
        }
    }
    @media screen and (max-height: 426px){
    
        header#home {
            padding-top: 34rem;
        }
    }
}

@media screen and (max-width: 736px) {

    .card {
        margin-top: 16rem;
        padding: 6rem;
        padding-top: 12rem;
        flex-direction: column;
        width: 40rem;
        height: 32rem;
    }

    .card-image {
        top: -10rem;
        left: auto;
    }
}

@media screen and (max-width: 718px){

    .blob1 {
        right: -48rem;
    }

    .members-cards::after {
        font-size: 14rem;
    }
}

@media screen and (max-width: 706px){

    .about-desc {
        margin: 20rem 5rem 0 5rem;
    }
    #about h1 {
        font-size: 3.2rem;
    }
    #about p {
        font-size: 2.2rem;
    }

    .container.white:is(#arte_urbana, #pop_art) {
        padding: 0 10rem;
    }

    .movement-desc h2 {
        font-size: 3rem;
    }
    .movement-desc p {
        font-size: 2rem;
    }
    
    .movement-img {
        width: 22rem;
    }
}

@media screen and (max-width: 678px){

    .grid-row > div {
        flex: 0 0 calc(100% - 10rem);
    }
}

@media screen and (max-width: 676px){

    #project_form form {
        width: 100%;
    }
}

@media screen and (max-width: 662px){

    .artc-img {
        width: 25rem;
        height: 25rem;
    }
    .artc-img img {
        width: 25rem;
        height: 25rem;
    }

    .article-card {
        height: 65%;
    }

    .artc-content h2 {
        font-size: 3rem;
    }
    .artc-content span {
        font-size: 2rem;
    }
    .artc-content p {
        font-size: 2rem;
        width: 46rem;
    }

    @media screen and (max-height: 855px){

        .article-card {
            height: 56rem;
        }
    }
    @media screen and (max-height: 719px){

        .article-card {
            height: 45rem;
        }

        .artc-img {
            width: 16rem;
            height: 16rem;
        }
        .artc-img img {
            width: 16rem;
            height: 16rem;
        }
        
        .artc-content h2 {
            font-size: 2.4rem;
        }
        .artc-content span {
            font-size: 1.6rem;
        }
        .artc-content p {
            font-size: 1.6rem;
        }
    }
    @media screen and (max-height: 677px){

        .article-card {
            height: 40rem;
        }
    }
}

@media screen and (max-width: 638px){

    #projects h1 {
        margin-bottom: 1.2rem;
        font-size: 4rem;
    }
    #projects p {
        font-size: 1.3rem;
    }
    #projects p::before, #projects p::after {
        width: 5rem;
    }
    #projects p::before {
        left: -0.5rem;
    }
    #projects p::after {
        right: -0.5rem;
    }
}

@media screen and (max-width: 608px){

    .blob2 {
        right: -44rem;
    }
}

@media screen and (max-width: 590px){

    .blob1 {
        right: -56rem;
    }

    .ftr-contact h3 {
        width: 60%;
        font-size: 3rem;
    }
    .ftr-link {
        font-size: 2rem;
    }
    .ftr-sublink {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 558px){

    .members-cards::after {
        font-size: 12rem;
    }
}

@media screen and (max-width: 540px){

    .about-desc {
        margin: 10rem 5rem 0 5rem;
    }
    #about h1 {
        font-size: 2.8rem;
    }
    #about p {
        font-size: 1.8rem;
    }

    .movement-desc h2 {
        font-size: 2.6rem;
    }
    .movement-desc p {
        font-size: 1.6rem;
    }
    
    .movement-img {
        width: 100%;
    }
}

@media screen and (max-width: 528px){

    #project_form input[type="file"] ~ label ~ span {
        width: 70%;
    }
}

@media screen and (max-width: 514px){

    .error-img {
        width: 100%;
    }
    .container.white#error_page h1 {
        font-size: 4rem;
    }
    .container.white#error_page p {
        font-size: 1.2rem;
    }

    @media screen and (max-height: 562px){

        .error-img {
            max-width: 40rem;
        }
    }
    @media screen and (max-height: 490px){

        .error-img {
            max-width: 22rem;
        }
        .container.white#error_page h1 {
            font-size: 3rem;
        }
        .container.white#error_page p {
            font-size: 1rem;
        }
    }
}
@media screen and (min-width: 515px){

    @media screen and (max-height: 621px){

        .error-img {
            width: 35rem;
        }
        .container.white#error_page h1 {
            font-size: 4rem;
        }
        .container.white#error_page p {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-height: 445px){

        .error-img {
            width: 22rem;
        }
        .container.white#error_page h1 {
            font-size: 3rem;
        }
        .container.white#error_page p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 502px){

    #projects h1 {
        font-size: 3.5rem;
    }
    #projects p {
        font-size: 1.2rem;
    }
    #projects p::before, #projects p::after {
        width: 4rem;
    }
    #projects p::before {
        left: -0.2rem;
    }
    #projects p::after {
        right: -0.2rem;
    }

    .projects-cards {
        grid-gap: 5rem;
        width: 100%;
    }
    .prjt-card {
        width: 100%;
    }
    .prjt-img {
        width: calc(100% - 10rem);
    }
}

@media screen and (max-width: 483px){

    .blob2 {
        right: -52rem;
    }
}

@media screen and (max-width: 480px) {
    
    .card {
        padding: 4rem;
        padding-top: 10rem;
        width: 100%;
        height: 30.5rem;
    }

    .card-image {
        top: -7.5rem;
    }
    .card-image img {
        width: 15rem;
    }
    .img-gradient {
        width: 16.5rem;
        height: 16.5rem;
    }



    .members-cards::after {
        font-size: 10rem;
    }
}

@media screen and (max-width: 472px){

    .prjt-card {
        height: 20rem;
    }
    .prjt-card h2 {
        width: 28rem;
        font-size: 5rem;
    }
    .prjt-card p {
        height: 11rem;
    }
    .btn-prjt {
        right: 3rem;
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: 466px){

    .ftr-contact h3 {
        font-size: 2.6rem;
    }
    .ftr-link {
        font-size: 1.8rem;
    }
    .ftr-sublink {
        font-size: 1.3rem;
    }

    footer h4 {
        font-size: 5rem;
    }
    .ftr-btn-signIn {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 460px){

    .form-group :is(button, button ~ a) {
        width: 100%;
    }
    .form-group button {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 458px){

    .artc-content p {
        width: 30rem;
    }
}

@media screen and (max-width: 446px){

    .prjt-card h2 {
        width: 22rem;
    }
}

@media screen and (max-width: 444px){

    #about h1 {
        font-size: 2.4rem;
    }
    #about p {
        font-size: 1.6rem;
    }

    .movement-desc h2 {
        font-size: 2.2rem;
    }
    .movement-desc p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 412px){

    .prjt-config {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 408px){

    .home-img {
        width: 100%;
    }
    #home h1::before {
        width: 25rem;
        font-size: 4.2rem;
    }

    @media screen and (max-height: 800px){

        #home ~ .wave-container:first-of-type {
            margin-top: 26rem;
        }
    }
    @media screen and (max-height: 710px){

        #home ~ .wave-container:first-of-type {
            margin-top: 36rem;
        }
    }
    @media screen and (max-height: 652px){

        #home ~ .wave-container:first-of-type {
            margin-top: 44rem;
        }
    }


    @media screen and (max-height: 585px){

        .btn-backTo {
            bottom: 2rem;
        }
    }
}

@media screen and (max-width: 400px){

    .members-cards::after {
        font-size: 8rem;
    }
}

@media screen and (max-width: 398px){

    .blob2 {
        right: -60rem;
    }
}

@media screen and (max-width: 394px){
    
    .ftr-contact h3 {
        width: 80%;
    }
    .ftr-item:nth-child(2) {
        margin-left: 4rem;
    }
}

@media screen and (max-width: 444px){

    .container.white:is(#arte_urbana, #pop_art) {
        padding: 0 6rem;
    }

    .about-desc {
        margin: 10rem 2rem 0 2rem;
    }
    #about h1 {
        font-size: 2.2rem;
    }

    .movement-desc h2 {
        font-size: 2.2rem;
    }
    .movement-desc p {
        font-size: 1.4rem;
    }


    .container.white#project_details {
        padding: 10rem 6rem;
    }
}

@media screen and (max-width: 387px){

    #project_form input[type="file"] ~ label ~ span {
        width: 60%;
    }
}

@media screen and (max-width: 378px){

    .prjt-card h2 {
        width: 18rem;
    }

    .prjt-config {
        justify-content: space-evenly;
    }
    .prjt-config > div:not(:last-of-type) {
        margin-right: 0;
    }
}

@media screen and (max-width: 376px){

    .blob1 {
        right: -60rem;
    }
}

@media screen and (max-width: 372px){

    .footer_bottom {
        justify-content: center;
    }
}

@media screen and (max-width: 366px){

    header#projects {
        padding: 1rem 0;
    }

    #projects h1 {
        margin-bottom: 0.6rem;
        font-size: 3rem;
    }
    #projects p {
        font-size: 1rem;
    }
    #projects p::before, #projects p::after {
        width: 3rem;
    }
    #projects p::before {
        left: 0.2rem;
    }
    #projects p::after {
        right: 0.2rem;
    }
}

@media screen and (max-width: 354px){

    .ftr-contact h3 {
        width: 100%;
    }
    .ftr-item:nth-child(2) {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 334px){

    .ftr-list {
        flex-wrap: wrap;
    }
    .ftr-item:nth-child(2) {
        margin: 0;
    }
    .ftr-item:first-of-type {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 330px){

    .prjt-card h2 {
        width: 14rem;
    }
}

@media screen and (max-width: 324px){

    .members-cards::after {
        font-size: 6.5rem;
    }
}

@media screen and (max-width: 272px) {
    .member-name {
        font-size: 2.7rem;
    }
    .desc {
        font-size: 1.2rem;
    }
    
    .card {
        padding-top: 4rem;
    }

    .card-image {
        top: -5rem;
    }
    .card-image img {
        width: 10rem;
    }
    .img-gradient {
        width: 11.5rem;
        height: 11.5rem;
    }
}