<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
  <title>Projetos</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>
<article>
  <p>
    <span th:text="${project.getUserName}"></span>

    <span th:text="${project.getFormattedDate}"></span>
  </p>
  <h1 th:text="${project.getTitle}"></h1>
  <p><span th:utext="${#strings.abbreviate(project.text,400)} "></span></p>

  <div th:each="image : ${project.images}">
    <img th:src="@{${'/upload/images/' + image.name}}">
  </div>

  <div th:if="${deleteAndEditAuthorized == true}"><button th:onclick="|deleteRequest('${project.id}')|">Deletar</button></div>
  <div th:if="${deleteAndEditAuthorized == true}"><a th:href="@{'/editForm/' + ${project.id} }">Editar</a></div>
</article>

<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/sweetalert2/sweetalert2@11.js}"></script>
<script type="text/javascript" th:src="@{/js/projectDetails.js}"></script>
</body>
</html>