<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
  <title>Projetos</title>
</head>
<body>
<article>
  <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
    <span th:text="${project.getUserName}"></span>
    <span th:text="${project.getTitle}"></span>
    <span th:text="${project.getFormattedDate}"></span>
  </p>

  <p><span th:utext="${#strings.abbreviate(project.text,400)} "></span></p>

  <div th:each="file : ${files}">
    <img th:src="@{${'/photos/' + file.name}}">
  </div>
</article>
</body>
</html>