<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Projetos</title>

</head>
<body>
<a th:href="@{/newproject}">Novo projeto</a>
<section>
    <div class="container"  style="width: 60%; padding-bottom: 30px; margin-top: 20px;">
        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px; border: 2px solid black;" th:each="project : ${projects}" >
            <div class="card-body">
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                    <span th:text="${project.getUserName}"></span>
                    <span th:text="${project.getFormattedDate}"></span>
                </p>
                <img th:src="@{${'/upload/images/' + project.getMainFileName()}}" style="width: 150px;">

                <a th:href="@{'/projects/' + ${project.id}}"><h4 style="font-weight: bold; color: black; padding-top: 5px;"><span th:text="${project.title}"></span></h4></a>
                <p><span th:utext="${#strings.abbreviate(project.text,400)} "></span></p>
                <a th:href="@{'/projects/' + ${project.id}}">Acessar</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>