<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/favicon/safari-pinned-tab.svg}" color="#615edb">
    <link rel="shortcut icon" th:href="@{/favicon/favicon.ico}">
    <meta name="msapplication-TileColor" content="#615edb">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#615edb">
    
    <!--Fotorama-->
    <link rel="stylesheet" th:href="@{/fotorama-4.6.4/fotorama.css}">
    <script th:src="@{/fotorama-4.6.4/fotorama.js}"></script>

    <!--Swiper-->
    <link rel="stylesheet" th:href="@{/swiper-6.7.1/swiper-bundle.min.css}">
    <script th:src="@{/swiper-6.7.1/swiper-bundle.min.js}"></script>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>ESA | Projetos</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-toggle">
            <svg class="hamburger hamRotate" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('opened')">
                <path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"></path>
                <path class="line middle" d="m 70,50 h -40"></path>
                <path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"></path>
            </svg>
        </div>
        <a class="logo" th:href="@{/}">
            <img th:src="@{/img/logo.png}" alt="Logo da ESA">
        </a>
        <ul class="main-nav">
            <li><a class="nav-link" th:href="@{/}">Início</a></li>
            <li><a class="nav-link" th:href="@{/sobre}">Sobre</a></li>
            <li><a class="nav-link selected" th:href="@{/projects}">Projetos</a></li>
            <li sec:authorize="!(isAuthenticated())"><a class="btn-signIn" th:href="@{/login}">Entrar</a></li>
            <li sec:authorize="isAuthenticated()"><a class="btn-signIn" th:href="@{/logout}">Sair</a></li>
        </ul>
    </nav>

    <section class="container white" id="project_details">
        <div class="prjt-info">
          <h1 th:text="${project.getTitle}"></h1>
          <p th:text="${project.getUserName}"></p>
          <span th:text="${project.getFormattedDate}"></span>
        </div>

        <div class="prjt-content">
          <p th:text="${project.text}"></p>

          <div class="img-grid">
            <div class="grid-row">
              <div th:each="image : ${project.images}">
                <img th:src="@{${image.getLink()}}">
              </div>
            </div>
          </div>
        </div>

        <div class="prjt-config">
          <div th:if="${deleteAndEditAuthorized == true}">
            <button th:onclick="|deleteRequest('${project.id}')|" title="Deletar">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
          <div th:if="${deleteAndEditAuthorized == true}">
            <a th:href="@{'/edit/' + ${project.id} }" title="Editar">
              <i class="fas fa-edit"></i>
            </a>
          </div>
        </div>
    </section>

    <footer>
        <div class="footer_top">
            <div class="ftr-contact">
                <h3>Entre em contato conosco</h3>
                <div class="icons">

                </div>
            </div>
            <ul class="ftr-list">
                <li class="ftr-item">
                    <p class="ftr-link">Início</p>
                    <a class="ftr-sublink" th:href="@{/projects/#}">Destaques</a>
                    <a class="ftr-sublink" th:href="@{/projects/#}">Artigos</a>
                </li>
                <li class="ftr-item">
                    <p class="ftr-link">Sobre</p>
                    <a class="ftr-sublink" th:href="@{/projects/#}">Arte Urbana</a>
                    <a class="ftr-sublink" th:href="@{/projects/#}">Pop Art</a>
                    <a class="ftr-sublink" th:href="@{/projects/#}">Equipe</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="footer_bottom">
            <h4>ESA</h4>
            <a sec:authorize="!(isAuthenticated())" class="ftr-btn-signIn" th:href="@{/login}">Entrar</a>
            <a sec:authorize="isAuthenticated()" class="ftr-btn-signIn" th:href="@{/logout}">Sair</a>
        </div>
    </footer>

    <!--JS-->
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/projectTitle.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/sweetalert2/sweetalert2@11.js}"></script>
    <script type="text/javascript" th:src="@{/js/projectDetails.js}"></script>
</body>
</html>